@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@300&display=swap');

.about-us-text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 25px;
}

.about-us-responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.about-us-responsive-container-block.bigContainer {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.about-us-responsive-container-block.Container {
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 150px;
  margin-right: auto;
  margin-bottom: 150px;
  margin-left: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.about-us-text-blk.heading {
  font-size: 36px;
  line-height: 45px;
  font-weight: 800;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.about-us-text-blk.subHeading {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.about-us-socialIcon {
  width: 33px;
  height: 33px;
}

.about-us-social-icons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.about-us-social-icon {
  margin: 0 50px 0 50px;
}

.about-us-social-icon:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .about-us-text-blk.heading {
    font-size: 55px;
    line-height: 65px;
  }

  .about-us-text-blk.subHeading {
    font-size: 18px;
    line-height: 24px;
  }

  .about-us-socialIcon {
    width: 20px;
    height: 20px;
  }

  .about-us-text-blk.subHeading {
    line-height: 27px;
  }

  .about-us-text-blk.heading {
    font-size: 32px;
    line-height: 40px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .about-us-social-icon {
    margin: 0 25px 0 25px;
  }
}

@media (max-width: 500px) {
  .about-us-responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .about-us-text-blk.heading {
    font-size: 45px;
    line-height: 55px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .about-us-text-blk.subHeading {
    font-size: 14px;
    line-height: 22px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .about-us-social-icons-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .about-us-text-blk.subHeading {
    font-size: 16px;
    line-height: 23px;
  }

  .about-us-text-blk.heading {
    font-size: 26px;
    line-height: 30px;
  }

  .about-us-social-icon {
    margin: 0 20px 0 20px;
  }
}

  .about-us-container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .about-us-profile {
    position: relative;
    transition: all 0.3s;
  }

  .about-us-profile:hover {
    transform: translateY(25px);
  }

  .about-us-profile img {
    border-radius: 50%;
    border: 5px solid #f7f7f7;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    cursor: pointer;
    width:  200px;
    height: 200px;
    object-fit: cover;
  }

  .about-us-profile:not(:first-child) img {
    margin-left: -20px;
  }

  .about-us-profile .about-us-name {
    position: absolute;
    background-color: #27408A;
    color: #fff;
    font-family: "Dancing Script", cursive;
    padding: 15px 30px;
    border-radius: 100px;
    bottom: -80px; left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s;
  }

  .about-us-profile .about-us-name::before {
    content: "";
    position: absolute;
    width: 15px; height: 15px;
    background-color: #10996d;
    top: 0; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .about-us-profile img:hover + .about-us-name {
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
  }
